(
    uuid: "86cd56b8-bff9-483a-a276-cba580f692b7",
    meta: (
        key: Natural(A),
        scale: Major,
        signature: (
            beat_unit: Quarter,
            bar_beats: 4,
        ),
        tempo: Bpm(120),
    ),
    tracks: [
        (
            id: "chord",
            kind: Chord,
            entries: [
                Extra(
                    "dsl::context::duration",
                    "_1",
                ),// [0]
                Mark("1"),// [1]
                Core(Chord(
                    (
                        root: Do,
                        intervals: Triad(
                            Major3nd,
                            Perfect5th,
                        ),
                        base: None,
                    ),
                    Simple(Whole),
                )),// [2]
                Mark("6-"),// [3]
                Core(Chord(
                    (
                        root: La,
                        intervals: Triad(
                            Minor3nd,
                            Perfect5th,
                        ),
                        base: None,
                    ),
                    Simple(Whole),
                )),// [4]
                Mark("4"),// [5]
                Core(Chord(
                    (
                        root: Fa,
                        intervals: Triad(
                            Major3nd,
                            Perfect5th,
                        ),
                        base: None,
                    ),
                    Simple(Whole),
                )),// [6]
                Mark("5"),// [7]
                Core(Chord(
                    (
                        root: So,
                        intervals: Triad(
                            Major3nd,
                            Perfect5th,
                        ),
                        base: None,
                    ),
                    Simple(Whole),
                )),
            ],
        ),// [0]
        (
            id: "guitar",
            kind: Guitar,
            entries: [
                Fretted6(Fretboard((
                    total_fret_num: 20,
                    string_notes: (
                        (
                            octave: P4,
                            pitch: (
                                name: E,
                                sign: Natural,
                            ),
                        ),
                        (
                            octave: P3,
                            pitch: (
                                name: B,
                                sign: Natural,
                            ),
                        ),
                        (
                            octave: P3,
                            pitch: (
                                name: G,
                                sign: Natural,
                            ),
                        ),
                        (
                            octave: P3,
                            pitch: (
                                name: D,
                                sign: Natural,
                            ),
                        ),
                        (
                            octave: P2,
                            pitch: (
                                name: A,
                                sign: Natural,
                            ),
                        ),
                        (
                            octave: P2,
                            pitch: (
                                name: E,
                                sign: Natural,
                            ),
                        ),
                    ),
                    capo: 0,
                ))),// [0]
                Extra(
                    "dsl::context::duration",
                    "_1",
                ),// [1]
                Mark("A"),// [2]
                Fretted6(Shape(
                    (
                        frets: (
                            Some(0),
                            Some(2),
                            Some(2),
                            Some(2),
                            Some(0),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [3]
                Mark("#Fm"),// [4]
                Fretted6(Shape(
                    (
                        frets: (
                            Some(2),
                            Some(2),
                            Some(2),
                            Some(4),
                            Some(4),
                            Some(2),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [5]
                Mark("D"),// [6]
                Fretted6(Shape(
                    (
                        frets: (
                            Some(2),
                            Some(3),
                            Some(2),
                            Some(0),
                            None,
                            None,
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [7]
                Mark("E"),// [8]
                Fretted6(Shape(
                    (
                        frets: (
                            Some(0),
                            Some(0),
                            Some(1),
                            Some(2),
                            Some(2),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [9]
                Extra(
                    "dsl::context::duration",
                    "_1_8",
                ),// [10]
                Mark("i:1"),// [11]
                Fretted6(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Quarter),
                )),// [12]
                Core(Rest(Simple(Eighth))),// [13]
                Fretted6(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Quarter),
                )),// [14]
                Core(Rest(Simple(Eighth))),// [15]
                Fretted6(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [16]
                Fretted6(Pick(
                    Single((
                        string: 3,
                        fret: Some(1),
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [17]
                Mark("|"),// [18]
                Mark("i:2"),// [19]
                Fretted6(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Quarter),
                )),// [20]
                Core(Rest(Simple(Eighth))),// [21]
                Fretted6(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Quarter),
                )),// [22]
                Core(Rest(Simple(Eighth))),// [23]
                Fretted6(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [24]
                Fretted6(Pick(
                    Single((
                        string: 3,
                        fret: Some(1),
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [25]
                Mark("|"),// [26]
                Mark("i:3"),// [27]
                Fretted6(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Quarter),
                )),// [28]
                Core(Rest(Simple(Eighth))),// [29]
                Fretted6(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Quarter),
                )),// [30]
                Core(Rest(Simple(Eighth))),// [31]
                Fretted6(Pick(
                    Single((
                        string: 4,
                        fret: Some(2),
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Quarter),
                )),// [32]
                Mark("|"),// [33]
                Mark("i:4"),// [34]
                Fretted6(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Quarter),
                )),// [35]
                Core(Rest(Simple(Eighth))),// [36]
                Fretted6(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Quarter),
                )),// [37]
                Core(Rest(Simple(Eighth))),// [38]
                Fretted6(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [39]
                Fretted6(Pick(
                    Single((
                        string: 4,
                        fret: Some(2),
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [40]
                Mark("|"),// [41]
                Mark("i:5"),// [42]
                Fretted6(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Quarter),
                )),// [43]
                Core(Rest(Simple(Eighth))),// [44]
                Fretted6(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Quarter),
                )),// [45]
                Core(Rest(Simple(Eighth))),// [46]
                Fretted6(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [47]
                Fretted6(Pick(
                    Single((
                        string: 4,
                        fret: Some(4),
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [48]
                Mark("|"),// [49]
                Mark("i:6"),// [50]
                Fretted6(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Quarter),
                )),// [51]
                Core(Rest(Simple(Eighth))),// [52]
                Fretted6(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Quarter),
                )),// [53]
                Core(Rest(Simple(Eighth))),// [54]
                Fretted6(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [55]
                Fretted6(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [56]
                Mark("|"),
            ],
        ),
    ],
    sections: [
        (
            id: "intro",
            kind: Intro,
            bars: [
                (
                    layers: [
                        (
                            track: "chord",
                            slices: [
                                (
                                    begin: Mark("1"),
                                    end: Count(1),
                                    rounds: None,
                                ),
                            ],
                        ),// [0]
                        (
                            track: "guitar",
                            slices: [
                                (
                                    begin: Mark("A"),
                                    end: Count(1),
                                    rounds: None,
                                ),// [0]
                                (
                                    begin: Mark("i:1"),
                                    end: Mark("|"),
                                    rounds: None,
                                ),
                            ],
                        ),
                    ],
                ),// [0]
                (
                    layers: [
                        (
                            track: "chord",
                            slices: [
                                (
                                    begin: Mark("1"),
                                    end: Count(1),
                                    rounds: None,
                                ),
                            ],
                        ),// [0]
                        (
                            track: "guitar",
                            slices: [
                                (
                                    begin: Mark("A"),
                                    end: Count(1),
                                    rounds: None,
                                ),// [0]
                                (
                                    begin: Mark("i:2"),
                                    end: Mark("|"),
                                    rounds: None,
                                ),
                            ],
                        ),
                    ],
                ),// [1]
                (
                    layers: [
                        (
                            track: "chord",
                            slices: [
                                (
                                    begin: Mark("6-"),
                                    end: Count(1),
                                    rounds: None,
                                ),
                            ],
                        ),// [0]
                        (
                            track: "guitar",
                            slices: [
                                (
                                    begin: Mark("#Fm"),
                                    end: Count(1),
                                    rounds: None,
                                ),// [0]
                                (
                                    begin: Mark("i:3"),
                                    end: Mark("|"),
                                    rounds: None,
                                ),
                            ],
                        ),
                    ],
                ),// [2]
                (
                    layers: [
                        (
                            track: "chord",
                            slices: [
                                (
                                    begin: Mark("6-"),
                                    end: Count(1),
                                    rounds: None,
                                ),
                            ],
                        ),// [0]
                        (
                            track: "guitar",
                            slices: [
                                (
                                    begin: Mark("#Fm"),
                                    end: Count(1),
                                    rounds: None,
                                ),// [0]
                                (
                                    begin: Mark("i:4"),
                                    end: Mark("|"),
                                    rounds: None,
                                ),
                            ],
                        ),
                    ],
                ),// [3]
                (
                    layers: [
                        (
                            track: "chord",
                            slices: [
                                (
                                    begin: Mark("4"),
                                    end: Count(1),
                                    rounds: None,
                                ),
                            ],
                        ),// [0]
                        (
                            track: "guitar",
                            slices: [
                                (
                                    begin: Mark("D"),
                                    end: Count(1),
                                    rounds: None,
                                ),// [0]
                                (
                                    begin: Mark("i:5"),
                                    end: Mark("|"),
                                    rounds: None,
                                ),
                            ],
                        ),
                    ],
                ),// [4]
                (
                    layers: [
                        (
                            track: "chord",
                            slices: [
                                (
                                    begin: Mark("5"),
                                    end: Count(1),
                                    rounds: None,
                                ),
                            ],
                        ),// [0]
                        (
                            track: "guitar",
                            slices: [
                                (
                                    begin: Mark("E"),
                                    end: Count(1),
                                    rounds: None,
                                ),// [0]
                                (
                                    begin: Mark("i:6"),
                                    end: Mark("|"),
                                    rounds: None,
                                ),
                            ],
                        ),
                    ],
                ),// [5]
                (
                    layers: [
                        (
                            track: "chord",
                            slices: [
                                (
                                    begin: Mark("1"),
                                    end: Count(1),
                                    rounds: None,
                                ),
                            ],
                        ),// [0]
                        (
                            track: "guitar",
                            slices: [
                                (
                                    begin: Mark("A"),
                                    end: Count(1),
                                    rounds: None,
                                ),// [0]
                                (
                                    begin: Mark("i:1"),
                                    end: Mark("|"),
                                    rounds: None,
                                ),
                            ],
                        ),
                    ],
                ),// [6]
                (
                    layers: [
                        (
                            track: "chord",
                            slices: [
                                (
                                    begin: Mark("1"),
                                    end: Count(1),
                                    rounds: None,
                                ),
                            ],
                        ),// [0]
                        (
                            track: "guitar",
                            slices: [
                                (
                                    begin: Mark("A"),
                                    end: Count(1),
                                    rounds: None,
                                ),// [0]
                                (
                                    begin: Mark("i:1"),
                                    end: Mark("|"),
                                    rounds: None,
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),// [0]
        (
            id: "verse",
            kind: Verse,
            bars: [
                (
                    layers: [
                        (
                            track: "chord",
                            slices: [
                                (
                                    begin: Mark("6-"),
                                    end: Count(1),
                                    rounds: None,
                                ),
                            ],
                        ),// [0]
                        (
                            track: "guitar",
                            slices: [
                                (
                                    begin: Mark("Em"),
                                    end: Count(1),
                                    rounds: None,
                                ),// [0]
                                (
                                    begin: Mark("picks"),
                                    end: Mark("|"),
                                    rounds: None,
                                ),
                            ],
                        ),
                    ],
                ),// [0]
                (
                    layers: [
                        (
                            track: "chord",
                            slices: [
                                (
                                    begin: Mark("6-"),
                                    end: Count(1),
                                    rounds: None,
                                ),
                            ],
                        ),// [0]
                        (
                            track: "guitar",
                            slices: [
                                (
                                    begin: Mark("Em"),
                                    end: Count(1),
                                    rounds: None,
                                ),// [0]
                                (
                                    begin: Mark("picks"),
                                    end: Mark("|"),
                                    rounds: None,
                                ),
                            ],
                        ),
                    ],
                ),// [1]
                (
                    layers: [
                        (
                            track: "chord",
                            slices: [
                                (
                                    begin: Mark("1"),
                                    end: Count(1),
                                    rounds: None,
                                ),
                            ],
                        ),// [0]
                        (
                            track: "guitar",
                            slices: [
                                (
                                    begin: Mark("G"),
                                    end: Count(1),
                                    rounds: None,
                                ),// [0]
                                (
                                    begin: Mark("picks"),
                                    end: Mark("|"),
                                    rounds: None,
                                ),
                            ],
                        ),
                    ],
                ),// [2]
                (
                    layers: [
                        (
                            track: "chord",
                            slices: [
                                (
                                    begin: Mark("1"),
                                    end: Count(1),
                                    rounds: None,
                                ),
                            ],
                        ),// [0]
                        (
                            track: "guitar",
                            slices: [
                                (
                                    begin: Mark("G"),
                                    end: Count(1),
                                    rounds: None,
                                ),// [0]
                                (
                                    begin: Mark("picks"),
                                    end: Mark("|"),
                                    rounds: None,
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
    ],
    form: (
        sections: [
            "intro",
        ],
    ),
)