(
    meta: (
        key: Natural(G),
        scale: Major,
        signature: (
            beat_unit: Quarter,
            beats_per_bar: 4,
        ),
        tempo: Bpm(60),
    ),
    lines: [
        (
            key: "shapes",
            entries: [
                Extra(
                    "dsl::context::duration",
                    "_1",
                ),// [0]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(3),
                            Some(0),
                            Some(0),
                            Some(0),
                            Some(2),
                            Some(3),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [1]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(0),
                            Some(0),
                            Some(0),
                            Some(2),
                            Some(2),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [2]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(0),
                            Some(1),
                            Some(0),
                            Some(2),
                            Some(3),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [3]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(2),
                            Some(3),
                            Some(2),
                            Some(0),
                            Some(0),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),
            ],
        ),// [0]
        (
            key: "picks",
            entries: [
                Extra(
                    "dsl::context::duration",
                    "T_1_8",
                ),// [0]
                FrettedSix(Pick(
                    Single(6),
                    Triplet(Eighth),
                )),// [1]
                FrettedSix(Pick(
                    Single(3),
                    Triplet(Eighth),
                )),// [2]
                FrettedSix(Pick(
                    Single(2),
                    Triplet(Eighth),
                )),// [3]
                FrettedSix(Pick(
                    Single(1),
                    Triplet(Eighth),
                )),// [4]
                FrettedSix(Pick(
                    Single(2),
                    Triplet(Eighth),
                )),// [5]
                FrettedSix(Pick(
                    Single(3),
                    Triplet(Eighth),
                )),// [6]
                FrettedSix(Pick(
                    Single(6),
                    Triplet(Eighth),
                )),// [7]
                FrettedSix(Pick(
                    Single(3),
                    Triplet(Eighth),
                )),// [8]
                FrettedSix(Pick(
                    Single(2),
                    Triplet(Eighth),
                )),// [9]
                FrettedSix(Pick(
                    Single(1),
                    Triplet(Eighth),
                )),// [10]
                FrettedSix(Pick(
                    Single(2),
                    Triplet(Eighth),
                )),// [11]
                FrettedSix(Pick(
                    Single(3),
                    Triplet(Eighth),
                )),// [12]
                FrettedSix(Pick(
                    Single(5),
                    Triplet(Eighth),
                )),// [13]
                FrettedSix(Pick(
                    Single(3),
                    Triplet(Eighth),
                )),// [14]
                FrettedSix(Pick(
                    Single(2),
                    Triplet(Eighth),
                )),// [15]
                FrettedSix(Pick(
                    Single(1),
                    Triplet(Eighth),
                )),// [16]
                FrettedSix(Pick(
                    Single(2),
                    Triplet(Eighth),
                )),// [17]
                FrettedSix(Pick(
                    Single(3),
                    Triplet(Eighth),
                )),// [18]
                FrettedSix(Pick(
                    Single(5),
                    Triplet(Eighth),
                )),// [19]
                FrettedSix(Pick(
                    Single(3),
                    Triplet(Eighth),
                )),// [20]
                FrettedSix(Pick(
                    Single(2),
                    Triplet(Eighth),
                )),// [21]
                FrettedSix(Pick(
                    Single(1),
                    Triplet(Eighth),
                )),// [22]
                FrettedSix(Pick(
                    Single(2),
                    Triplet(Eighth),
                )),// [23]
                FrettedSix(Pick(
                    Single(3),
                    Triplet(Eighth),
                )),// [24]
                FrettedSix(Pick(
                    Single(4),
                    Triplet(Eighth),
                )),// [25]
                FrettedSix(Pick(
                    Single(3),
                    Triplet(Eighth),
                )),// [26]
                FrettedSix(Pick(
                    Single(2),
                    Triplet(Eighth),
                )),// [27]
                FrettedSix(Pick(
                    Single(1),
                    Triplet(Eighth),
                )),// [28]
                FrettedSix(Pick(
                    Single(2),
                    Triplet(Eighth),
                )),// [29]
                FrettedSix(Pick(
                    Single(3),
                    Triplet(Eighth),
                )),// [30]
                FrettedSix(Pick(
                    Single(4),
                    Triplet(Eighth),
                )),// [31]
                FrettedSix(Pick(
                    Single(3),
                    Triplet(Eighth),
                )),// [32]
                FrettedSix(Pick(
                    Single(2),
                    Triplet(Eighth),
                )),// [33]
                FrettedSix(Pick(
                    Single(1),
                    Triplet(Eighth),
                )),// [34]
                FrettedSix(Pick(
                    Single(2),
                    Triplet(Eighth),
                )),// [35]
                FrettedSix(Pick(
                    Single(3),
                    Triplet(Eighth),
                )),
            ],
        ),
    ],
    tracks: [
        (
            key: "guitar",
            kind: Guitar,
            entries: [
                FrettedSix(Fretboard((
                    total_fret_num: 20,
                    string_notes: (
                        (
                            octave: P4,
                            pitch: (
                                name: E,
                                sign: Natural,
                            ),
                            syllable: None,
                        ),
                        (
                            octave: P3,
                            pitch: (
                                name: B,
                                sign: Natural,
                            ),
                            syllable: None,
                        ),
                        (
                            octave: P3,
                            pitch: (
                                name: G,
                                sign: Natural,
                            ),
                            syllable: None,
                        ),
                        (
                            octave: P3,
                            pitch: (
                                name: D,
                                sign: Natural,
                            ),
                            syllable: None,
                        ),
                        (
                            octave: P2,
                            pitch: (
                                name: A,
                                sign: Natural,
                            ),
                            syllable: None,
                        ),
                        (
                            octave: P2,
                            pitch: (
                                name: E,
                                sign: Natural,
                            ),
                            syllable: None,
                        ),
                    ),
                    capo: 0,
                ))),
            ],
        ),
    ],
    layers: [
        (
            key: "G",
            slices: [
                (
                    line: "shapes",
                    begin: Index(1),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Index(1),
                    end: Count(12),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [0]
        (
            key: "Em",
            slices: [
                (
                    line: "shapes",
                    begin: Index(2),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Index(1),
                    end: Count(12),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [1]
        (
            key: "C",
            slices: [
                (
                    line: "shapes",
                    begin: Index(3),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Index(13),
                    end: Count(12),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [2]
        (
            key: "D",
            slices: [
                (
                    line: "shapes",
                    begin: Index(4),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Index(25),
                    end: Count(12),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),
    ],
    sections: [
        (
            key: "A",
            kind: Verse,
            bars: [
                (
                    layers: [
                        "G",
                    ],
                ),// [0]
                (
                    layers: [
                        "Em",
                    ],
                ),// [1]
                (
                    layers: [
                        "C",
                    ],
                ),// [2]
                (
                    layers: [
                        "D",
                    ],
                ),
            ],
        ),// [0]
        (
            key: "B",
            kind: Verse,
            bars: [
                (
                    layers: [
                        "C",
                    ],
                ),// [0]
                (
                    layers: [
                        "G",
                    ],
                ),// [1]
                (
                    layers: [
                        "C",
                    ],
                ),// [2]
                (
                    layers: [
                        "Em",
                    ],
                ),
            ],
        ),
    ],
    form: (
        sections: [
            "A",// [0]
            "A",// [1]
            "B",// [2]
            "A",
        ],
    ),
)