(
    meta: (
        key: Natural(G),
        scale: Major,
        signature: (
            beat_unit: Quarter,
            bar_beats: 4,
        ),
        tempo: Bpm(60),
    ),
    tracks: [
        (
            id: "guitar",
            kind: Guitar,
            entries: [
                FrettedSix(Fretboard((
                    total_fret_num: 20,
                    string_notes: (
                        (
                            octave: P4,
                            pitch: (
                                name: E,
                                sign: Natural,
                            ),
                        ),
                        (
                            octave: P3,
                            pitch: (
                                name: B,
                                sign: Natural,
                            ),
                        ),
                        (
                            octave: P3,
                            pitch: (
                                name: G,
                                sign: Natural,
                            ),
                        ),
                        (
                            octave: P3,
                            pitch: (
                                name: D,
                                sign: Natural,
                            ),
                        ),
                        (
                            octave: P2,
                            pitch: (
                                name: A,
                                sign: Natural,
                            ),
                        ),
                        (
                            octave: P2,
                            pitch: (
                                name: E,
                                sign: Natural,
                            ),
                        ),
                    ),
                    capo: 0,
                ))),// [0]
                Extra(
                    "dsl::context::duration",
                    "_1",
                ),// [1]
                Mark("G"),// [2]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(3),
                            Some(0),
                            Some(0),
                            Some(0),
                            Some(2),
                            Some(3),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [3]
                Mark("Em"),// [4]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(0),
                            Some(0),
                            Some(0),
                            Some(2),
                            Some(2),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [5]
                Mark("C"),// [6]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(0),
                            Some(1),
                            Some(0),
                            Some(2),
                            Some(3),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [7]
                Mark("D"),// [8]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(2),
                            Some(3),
                            Some(2),
                            Some(0),
                            Some(0),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [9]
                Extra(
                    "dsl::context::duration",
                    "T_1_8",
                ),// [10]
                Mark("picks:1"),// [11]
                FrettedSix(Pick(
                    Single((
                        string: 6,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [12]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [13]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [14]
                FrettedSix(Pick(
                    Single((
                        string: 1,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [15]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [16]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [17]
                Mark("|"),// [18]
                Mark("picks:2"),// [19]
                FrettedSix(Pick(
                    Single((
                        string: 6,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [20]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [21]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [22]
                FrettedSix(Pick(
                    Single((
                        string: 1,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [23]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [24]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [25]
                Mark("|"),// [26]
                Mark("picks:3"),// [27]
                FrettedSix(Pick(
                    Single((
                        string: 5,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [28]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [29]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [30]
                FrettedSix(Pick(
                    Single((
                        string: 1,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [31]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [32]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [33]
                Mark("|"),// [34]
                Mark("picks:4"),// [35]
                FrettedSix(Pick(
                    Single((
                        string: 5,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [36]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [37]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [38]
                FrettedSix(Pick(
                    Single((
                        string: 1,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [39]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [40]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [41]
                Mark("|"),// [42]
                Mark("picks:5"),// [43]
                FrettedSix(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [44]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [45]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [46]
                FrettedSix(Pick(
                    Single((
                        string: 1,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [47]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [48]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [49]
                Mark("|"),// [50]
                Mark("picks:6"),// [51]
                FrettedSix(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [52]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [53]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [54]
                FrettedSix(Pick(
                    Single((
                        string: 1,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [55]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [56]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [57]
                Mark("|"),
            ],
        ),
    ],
    sections: [
        (
            id: "A",
            kind: Verse,
            bars: [
                (
                    layers: [
                        (
                            track: "guitar",
                            slices: [
                                (
                                    begin: Mark("G"),
                                    end: Count(1),
                                    rounds: None,
                                ),// [0]
                                (
                                    begin: Mark("picks:1"),
                                    end: Mark("|"),
                                    rounds: None,
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),// [0]
        (
            id: "B",
            kind: Verse,
            bars: [
                (
                    layers: [
                        (
                            track: "guitar",
                            slices: [
                                (
                                    begin: Mark("G"),
                                    end: Count(1),
                                    rounds: None,
                                ),// [0]
                                (
                                    begin: Mark("picks:1"),
                                    end: Mark("|"),
                                    rounds: None,
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
    ],
    form: (
        sections: [
            "A",// [0]
            "A",// [1]
            "B",// [2]
            "A",
        ],
    ),
)