(
    meta: (
        key: Natural(A),
        scale: Major,
        signature: (
            beat_unit: Quarter,
            beats_per_bar: 4,
        ),
        tempo: Bpm(72),
    ),
    lines: [
        (
            key: "shapes",
            entries: [
                Extra(
                    "dsl::context::duration",
                    "_1",
                ),// [0]
                Mark("G"),// [1]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(3),
                            Some(0),
                            Some(0),
                            Some(0),
                            Some(2),
                            Some(3),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [2]
                Mark("Em"),// [3]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(0),
                            Some(0),
                            Some(0),
                            Some(0),
                            Some(2),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [4]
                Mark("G/C"),// [5]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(0),
                            Some(0),
                            Some(0),
                            Some(0),
                            Some(3),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [6]
                Mark("Am"),// [7]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(0),
                            Some(1),
                            Some(0),
                            Some(2),
                            Some(0),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [8]
                Mark("D"),// [9]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(0),
                            Some(3),
                            Some(2),
                            Some(0),
                            Some(0),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [10]
                Mark("C"),// [11]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(0),
                            Some(0),
                            Some(0),
                            Some(2),
                            Some(3),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),
            ],
        ),// [0]
        (
            key: "picks",
            entries: [
                Extra(
                    "dsl::context::duration",
                    "_1_8",
                ),// [0]
                Mark("intro-6"),// [1]
                FrettedSix(Pick(
                    Double(
                        (
                            string: 6,
                            fret: None,
                            fret_finger: None,
                            pick_finger: None,
                            pick_direction: None,
                        ),
                        (
                            string: 3,
                            fret: None,
                            fret_finger: None,
                            pick_finger: None,
                            pick_direction: None,
                        ),
                    ),
                    Simple(Eighth),
                )),// [2]
                FrettedSix(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [3]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [4]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [5]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: Some(1),
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [6]
                Extra(
                    "dsl::context::duration",
                    "_1_16",
                ),// [7]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Sixteenth),
                )),// [8]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Sixteenth),
                )),// [9]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: Some(2),
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Sixteenth),
                )),// [10]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Sixteenth),
                )),// [11]
                Extra(
                    "dsl::context::duration",
                    "_1_8",
                ),// [12]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: Some(2),
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [13]
                Mark("intro-5"),// [14]
                FrettedSix(Pick(
                    Double(
                        (
                            string: 5,
                            fret: None,
                            fret_finger: None,
                            pick_finger: None,
                            pick_direction: None,
                        ),
                        (
                            string: 3,
                            fret: None,
                            fret_finger: None,
                            pick_finger: None,
                            pick_direction: None,
                        ),
                    ),
                    Simple(Eighth),
                )),// [15]
                FrettedSix(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [16]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [17]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [18]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: Some(1),
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [19]
                Extra(
                    "dsl::context::duration",
                    "_1_16",
                ),// [20]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Sixteenth),
                )),// [21]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Sixteenth),
                )),// [22]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: Some(2),
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Sixteenth),
                )),// [23]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Sixteenth),
                )),// [24]
                Extra(
                    "dsl::context::duration",
                    "_1_8",
                ),// [25]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: Some(2),
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [26]
                Mark("verse-6"),// [27]
                FrettedSix(Pick(
                    Double(
                        (
                            string: 6,
                            fret: None,
                            fret_finger: None,
                            pick_finger: None,
                            pick_direction: None,
                        ),
                        (
                            string: 3,
                            fret: None,
                            fret_finger: None,
                            pick_finger: None,
                            pick_direction: None,
                        ),
                    ),
                    Simple(Eighth),
                )),// [28]
                FrettedSix(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [29]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [30]
                Extra(
                    "dsl::context::duration",
                    "_1_16",
                ),// [31]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Sixteenth),
                )),// [32]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Sixteenth),
                )),// [33]
                Extra(
                    "dsl::context::duration",
                    "_1_8",
                ),// [34]
                FrettedSix(Pick(
                    Double(
                        (
                            string: 6,
                            fret: None,
                            fret_finger: None,
                            pick_finger: None,
                            pick_direction: None,
                        ),
                        (
                            string: 3,
                            fret: None,
                            fret_finger: None,
                            pick_finger: None,
                            pick_direction: None,
                        ),
                    ),
                    Simple(Eighth),
                )),// [35]
                FrettedSix(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [36]
                Extra(
                    "dsl::context::duration",
                    "_1_4",
                ),// [37]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: Some(3),
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Quarter),
                )),// [38]
                Extra(
                    "dsl::context::duration",
                    "_1_8",
                ),// [39]
                Mark("verse-5"),// [40]
                FrettedSix(Pick(
                    Double(
                        (
                            string: 5,
                            fret: None,
                            fret_finger: None,
                            pick_finger: None,
                            pick_direction: None,
                        ),
                        (
                            string: 3,
                            fret: None,
                            fret_finger: None,
                            pick_finger: None,
                            pick_direction: None,
                        ),
                    ),
                    Simple(Eighth),
                )),// [41]
                FrettedSix(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [42]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [43]
                Extra(
                    "dsl::context::duration",
                    "_1_16",
                ),// [44]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Sixteenth),
                )),// [45]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Sixteenth),
                )),// [46]
                Extra(
                    "dsl::context::duration",
                    "_1_8",
                ),// [47]
                FrettedSix(Pick(
                    Double(
                        (
                            string: 5,
                            fret: None,
                            fret_finger: None,
                            pick_finger: None,
                            pick_direction: None,
                        ),
                        (
                            string: 3,
                            fret: None,
                            fret_finger: None,
                            pick_finger: None,
                            pick_direction: None,
                        ),
                    ),
                    Simple(Eighth),
                )),// [48]
                FrettedSix(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [49]
                Extra(
                    "dsl::context::duration",
                    "_1_4",
                ),// [50]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: Some(1),
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Quarter),
                )),// [51]
                Extra(
                    "dsl::context::duration",
                    "_1_8",
                ),
            ],
        ),
    ],
    tracks: [
        (
            key: "guitar",
            kind: Guitar,
            entries: [
                FrettedSix(Fretboard((
                    total_fret_num: 20,
                    string_notes: (
                        (
                            octave: P4,
                            pitch: (
                                name: E,
                                sign: Natural,
                            ),
                            syllable: None,
                        ),
                        (
                            octave: P3,
                            pitch: (
                                name: B,
                                sign: Natural,
                            ),
                            syllable: None,
                        ),
                        (
                            octave: P3,
                            pitch: (
                                name: G,
                                sign: Natural,
                            ),
                            syllable: None,
                        ),
                        (
                            octave: P3,
                            pitch: (
                                name: D,
                                sign: Natural,
                            ),
                            syllable: None,
                        ),
                        (
                            octave: P2,
                            pitch: (
                                name: A,
                                sign: Natural,
                            ),
                            syllable: None,
                        ),
                        (
                            octave: P2,
                            pitch: (
                                name: E,
                                sign: Natural,
                            ),
                            syllable: None,
                        ),
                    ),
                    capo: 2,
                ))),
            ],
        ),
    ],
    layers: [
        (
            key: "G-Intro",
            slices: [
                (
                    line: "shapes",
                    begin: Mark("G"),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Mark("intro-6"),
                    end: Count(12),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [0]
        (
            key: "Em-Intro",
            slices: [
                (
                    line: "shapes",
                    begin: Mark("Em"),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Mark("intro-6"),
                    end: Count(12),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [1]
        (
            key: "C-Intro",
            slices: [
                (
                    line: "shapes",
                    begin: Mark("G/C"),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Mark("intro-5"),
                    end: Count(12),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [2]
        (
            key: "G-Verse",
            slices: [
                (
                    line: "shapes",
                    begin: Mark("G"),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Mark("verse-6"),
                    end: Count(11),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [3]
        (
            key: "Em-Verse",
            slices: [
                (
                    line: "shapes",
                    begin: Mark("Em"),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Mark("verse-6"),
                    end: Count(11),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [4]
        (
            key: "C-Verse",
            slices: [
                (
                    line: "shapes",
                    begin: Mark("C"),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Mark("verse-5"),
                    end: Count(11),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),
    ],
    sections: [
        (
            key: "Intro",
            kind: Intro,
            bars: [
                (
                    layers: [
                        "G-Intro",
                    ],
                ),// [0]
                (
                    layers: [
                        "Em-Intro",
                    ],
                ),// [1]
                (
                    layers: [
                        "C-Intro",
                    ],
                ),// [2]
                (
                    layers: [
                        "G-Intro",
                    ],
                ),
            ],
        ),// [0]
        (
            key: "Verse",
            kind: Verse,
            bars: [
                (
                    layers: [
                        "G-Verse",
                    ],
                ),// [0]
                (
                    layers: [
                        "Em-Verse",
                    ],
                ),// [1]
                (
                    layers: [
                        "C-Verse",
                    ],
                ),// [2]
                (
                    layers: [
                        "G-Verse",
                    ],
                ),
            ],
        ),
    ],
    form: (
        sections: [
            "Intro",// [0]
            "Verse",// [1]
            "Verse",
        ],
    ),
)