(
    meta: (
        key: Natural(E),
        scale: Minor,
        signature: (
            beat_unit: Quarter,
            beats_per_bar: 3,
        ),
        tempo: Bpm(118),
    ),
    lines: [
        (
            id: "shapes",
            entries: [
                Extra(
                    "dsl::context::duration",
                    "_1",
                ),// [0]
                Mark("Em"),// [1]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(0),
                            Some(0),
                            Some(0),
                            Some(2),
                            Some(2),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [2]
                Mark("Adim"),// [3]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(0),
                            Some(1),
                            Some(2),
                            Some(1),
                            Some(0),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [4]
                Mark("B7"),// [5]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(2),
                            Some(4),
                            Some(2),
                            Some(4),
                            Some(2),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [6]
                Mark("B7_1"),// [7]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(2),
                            Some(0),
                            Some(2),
                            Some(1),
                            Some(2),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [8]
                Mark("G"),// [9]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(3),
                            Some(0),
                            Some(0),
                            Some(0),
                            Some(2),
                            Some(3),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [10]
                Mark("E"),// [11]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(0),
                            Some(0),
                            Some(1),
                            Some(2),
                            Some(2),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [12]
                Mark("Am"),// [13]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(0),
                            Some(1),
                            Some(2),
                            Some(2),
                            Some(0),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [14]
                Mark("G/B"),// [15]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(3),
                            Some(0),
                            Some(0),
                            Some(0),
                            Some(2),
                            None,
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [16]
                Mark("D"),// [17]
                FrettedSix(Shape(
                    (
                        frets: (
                            Some(2),
                            Some(3),
                            Some(2),
                            Some(0),
                            Some(0),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),
            ],
        ),// [0]
        (
            id: "picks",
            entries: [
                Extra(
                    "dsl::context::duration",
                    "_1_8",
                ),// [0]
                Mark("6-1"),// [1]
                FrettedSix(Pick(
                    Single((
                        string: 6,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [2]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [3]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [4]
                FrettedSix(Pick(
                    Single((
                        string: 1,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [5]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [6]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [7]
                Mark("5-1"),// [8]
                FrettedSix(Pick(
                    Single((
                        string: 5,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [9]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [10]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [11]
                FrettedSix(Pick(
                    Single((
                        string: 1,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [12]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [13]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [14]
                Mark("5-2"),// [15]
                FrettedSix(Pick(
                    Single((
                        string: 5,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [16]
                FrettedSix(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [17]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [18]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [19]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [20]
                FrettedSix(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [21]
                Mark("4-1"),// [22]
                FrettedSix(Pick(
                    Single((
                        string: 4,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [23]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [24]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [25]
                FrettedSix(Pick(
                    Single((
                        string: 1,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [26]
                FrettedSix(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),// [27]
                FrettedSix(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Simple(Eighth),
                )),
            ],
        ),
    ],
    tracks: [
        (
            id: "guitar",
            kind: Guitar,
            entries: [
                FrettedSix(Fretboard((
                    total_fret_num: 20,
                    string_notes: (
                        (
                            octave: P4,
                            pitch: (
                                name: E,
                                sign: Natural,
                            ),
                            syllable: None,
                        ),
                        (
                            octave: P3,
                            pitch: (
                                name: B,
                                sign: Natural,
                            ),
                            syllable: None,
                        ),
                        (
                            octave: P3,
                            pitch: (
                                name: G,
                                sign: Natural,
                            ),
                            syllable: None,
                        ),
                        (
                            octave: P3,
                            pitch: (
                                name: D,
                                sign: Natural,
                            ),
                            syllable: None,
                        ),
                        (
                            octave: P2,
                            pitch: (
                                name: A,
                                sign: Natural,
                            ),
                            syllable: None,
                        ),
                        (
                            octave: P2,
                            pitch: (
                                name: E,
                                sign: Natural,
                            ),
                            syllable: None,
                        ),
                    ),
                    capo: 0,
                ))),
            ],
        ),
    ],
    layers: [
        (
            id: "Em",
            slices: [
                (
                    line: "shapes",
                    begin: Mark("Em"),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Mark("6-1"),
                    end: Count(6),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [0]
        (
            id: "Em_1",
            slices: [
                (
                    line: "shapes",
                    begin: Mark("Em"),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Mark("5-1"),
                    end: Count(6),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [1]
        (
            id: "Em_2",
            slices: [
                (
                    line: "shapes",
                    begin: Mark("Em"),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Mark("4-1"),
                    end: Count(6),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [2]
        (
            id: "Adim",
            slices: [
                (
                    line: "shapes",
                    begin: Mark("Adim"),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Mark("5-2"),
                    end: Count(6),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [3]
        (
            id: "B7",
            slices: [
                (
                    line: "shapes",
                    begin: Mark("B7"),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Mark("5-1"),
                    end: Count(6),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [4]
        (
            id: "B7_1",
            slices: [
                (
                    line: "shapes",
                    begin: Mark("B7_1"),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Mark("5-1"),
                    end: Count(6),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [5]
        (
            id: "G",
            slices: [
                (
                    line: "shapes",
                    begin: Mark("G"),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Mark("6-1"),
                    end: Count(6),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [6]
        (
            id: "E",
            slices: [
                (
                    line: "shapes",
                    begin: Mark("E"),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Mark("6-1"),
                    end: Count(6),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [7]
        (
            id: "E_1",
            slices: [
                (
                    line: "shapes",
                    begin: Mark("E"),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Mark("4-1"),
                    end: Count(6),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [8]
        (
            id: "Am",
            slices: [
                (
                    line: "shapes",
                    begin: Mark("Am"),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Mark("5-1"),
                    end: Count(6),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [9]
        (
            id: "G/B",
            slices: [
                (
                    line: "shapes",
                    begin: Mark("G/B"),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Mark("5-1"),
                    end: Count(6),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),// [10]
        (
            id: "D",
            slices: [
                (
                    line: "shapes",
                    begin: Mark("D"),
                    end: Count(1),
                ),// [0]
                (
                    line: "picks",
                    begin: Mark("4-1"),
                    end: Count(6),
                ),
            ],
            track: Some("guitar"),
            rounds: None,
        ),
    ],
    sections: [
        (
            id: "A1",
            kind: Verse,
            bars: [
                (
                    layers: [
                        "Em",
                    ],
                ),// [0]
                (
                    layers: [
                        "Em_1",
                    ],
                ),// [1]
                (
                    layers: [
                        "Adim",
                    ],
                ),// [2]
                (
                    layers: [
                        "B7",
                    ],
                ),// [3]
                (
                    layers: [
                        "Adim",
                    ],
                ),// [4]
                (
                    layers: [
                        "Adim",
                    ],
                ),// [5]
                (
                    layers: [
                        "B7",
                    ],
                ),// [6]
                (
                    layers: [
                        "Em",
                    ],
                ),
            ],
        ),// [0]
        (
            id: "A2",
            kind: Verse,
            bars: [
                (
                    layers: [
                        "E",
                    ],
                ),// [0]
                (
                    layers: [
                        "E_1",
                    ],
                ),// [1]
                (
                    layers: [
                        "Am",
                    ],
                ),// [2]
                (
                    layers: [
                        "G",
                    ],
                ),// [3]
                (
                    layers: [
                        "G/B",
                    ],
                ),// [4]
                (
                    layers: [
                        "Am",
                    ],
                ),// [5]
                (
                    layers: [
                        "B7_1",
                    ],
                ),// [6]
                (
                    layers: [
                        "Em",
                    ],
                ),
            ],
        ),// [1]
        (
            id: "B1",
            kind: Chorus,
            bars: [
                (
                    layers: [
                        "Em",
                    ],
                ),// [0]
                (
                    layers: [
                        "Am",
                    ],
                ),// [1]
                (
                    layers: [
                        "D",
                    ],
                ),// [2]
                (
                    layers: [
                        "G",
                    ],
                ),// [3]
                (
                    layers: [
                        "Em",
                    ],
                ),// [4]
                (
                    layers: [
                        "Am",
                    ],
                ),// [5]
                (
                    layers: [
                        "Adim",
                    ],
                ),// [6]
                (
                    layers: [
                        "B7_1",
                    ],
                ),
            ],
        ),// [2]
        (
            id: "B2",
            kind: Chorus,
            bars: [
                (
                    layers: [
                        "Em",
                    ],
                ),// [0]
                (
                    layers: [
                        "Am",
                    ],
                ),// [1]
                (
                    layers: [
                        "D",
                    ],
                ),// [2]
                (
                    layers: [
                        "G",
                    ],
                ),// [3]
                (
                    layers: [
                        "Em",
                    ],
                ),// [4]
                (
                    layers: [
                        "Am",
                    ],
                ),// [5]
                (
                    layers: [
                        "B7_1",
                    ],
                ),// [6]
                (
                    layers: [
                        "Em",
                    ],
                ),
            ],
        ),// [3]
        (
            id: "O",
            kind: Outro,
            bars: [
                (
                    layers: [
                        "Em",
                    ],
                ),
            ],
        ),
    ],
    form: (
        sections: [
            "A1",// [0]
            "A1",// [1]
            "A2",// [2]
            "A1",// [3]
            "A2",// [4]
            "B1",// [5]
            "B2",// [6]
            "A1",// [7]
            "A2",// [8]
            "A1",// [9]
            "A2",// [10]
            "B1",// [11]
            "B2",// [12]
            "A2",// [13]
            "A1",// [14]
            "A1",// [15]
            "O",
        ],
    ),
)