(
    uuid: "c430733f-46c3-4db2-9685-a72c05027e62",
    meta: (
        key: Natural(G),
        scale: Major,
        signature: (
            beat_unit: Quarter,
            bar_beats: 4,
        ),
        tempo: Bpm(60),
    ),
    tracks: [
        (
            id: "chord",
            kind: Chord,
            entries: [
                Extra(
                    "dsl::context::duration",
                    "_1",
                ),// [0]
                Mark("1"),// [1]
                Core(Chord(
                    (
                        root: Do,
                        intervals: Triad(
                            Major3nd,
                            Perfect5th,
                        ),
                        base: None,
                    ),
                    Simple(Whole),
                )),// [2]
                Mark("6-"),// [3]
                Core(Chord(
                    (
                        root: La,
                        intervals: Triad(
                            Minor3nd,
                            Perfect5th,
                        ),
                        base: None,
                    ),
                    Simple(Whole),
                )),
            ],
        ),// [0]
        (
            id: "guitar",
            kind: Guitar,
            entries: [
                Fretted6(Fretboard((
                    total_fret_num: 20,
                    string_notes: (
                        (
                            octave: P4,
                            pitch: (
                                name: E,
                                sign: Natural,
                            ),
                        ),
                        (
                            octave: P3,
                            pitch: (
                                name: B,
                                sign: Natural,
                            ),
                        ),
                        (
                            octave: P3,
                            pitch: (
                                name: G,
                                sign: Natural,
                            ),
                        ),
                        (
                            octave: P3,
                            pitch: (
                                name: D,
                                sign: Natural,
                            ),
                        ),
                        (
                            octave: P2,
                            pitch: (
                                name: A,
                                sign: Natural,
                            ),
                        ),
                        (
                            octave: P2,
                            pitch: (
                                name: E,
                                sign: Natural,
                            ),
                        ),
                    ),
                    capo: 0,
                ))),// [0]
                Extra(
                    "dsl::context::duration",
                    "_1",
                ),// [1]
                Mark("Em"),// [2]
                Fretted6(Shape(
                    (
                        frets: (
                            Some(0),
                            Some(0),
                            Some(0),
                            Some(2),
                            Some(2),
                            Some(0),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [3]
                Mark("G"),// [4]
                Fretted6(Shape(
                    (
                        frets: (
                            Some(0),
                            Some(0),
                            Some(0),
                            Some(0),
                            Some(2),
                            Some(3),
                        ),
                        fingers: (
                            None,
                            None,
                            None,
                            None,
                            None,
                            None,
                        ),
                    ),
                    Simple(Whole),
                )),// [5]
                Extra(
                    "dsl::context::duration",
                    "T_1_8",
                ),// [6]
                Mark("picks"),// [7]
                Fretted6(Pick(
                    Single((
                        string: 6,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [8]
                Fretted6(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [9]
                Fretted6(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [10]
                Fretted6(Pick(
                    Single((
                        string: 1,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [11]
                Fretted6(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [12]
                Fretted6(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [13]
                Fretted6(Pick(
                    Single((
                        string: 6,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [14]
                Fretted6(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [15]
                Fretted6(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [16]
                Fretted6(Pick(
                    Single((
                        string: 1,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [17]
                Fretted6(Pick(
                    Single((
                        string: 2,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [18]
                Fretted6(Pick(
                    Single((
                        string: 3,
                        fret: None,
                        fret_finger: None,
                        pick_finger: None,
                        pick_direction: None,
                    )),
                    Triplet(Eighth),
                )),// [19]
                Mark("|"),
            ],
        ),
    ],
    sections: [
        (
            id: "A",
            kind: Verse,
            bars: [
                (
                    layers: [
                        (
                            track: "chord",
                            slices: [
                                (
                                    begin: Mark("6-"),
                                    end: Count(1),
                                    rounds: None,
                                ),
                            ],
                        ),// [0]
                        (
                            track: "guitar",
                            slices: [
                                (
                                    begin: Mark("Em"),
                                    end: Count(1),
                                    rounds: None,
                                ),// [0]
                                (
                                    begin: Mark("picks"),
                                    end: Mark("|"),
                                    rounds: None,
                                ),
                            ],
                        ),
                    ],
                ),// [0]
                (
                    layers: [
                        (
                            track: "chord",
                            slices: [
                                (
                                    begin: Mark("6-"),
                                    end: Count(1),
                                    rounds: None,
                                ),
                            ],
                        ),// [0]
                        (
                            track: "guitar",
                            slices: [
                                (
                                    begin: Mark("Em"),
                                    end: Count(1),
                                    rounds: None,
                                ),// [0]
                                (
                                    begin: Mark("picks"),
                                    end: Mark("|"),
                                    rounds: None,
                                ),
                            ],
                        ),
                    ],
                ),// [1]
                (
                    layers: [
                        (
                            track: "chord",
                            slices: [
                                (
                                    begin: Mark("1"),
                                    end: Count(1),
                                    rounds: None,
                                ),
                            ],
                        ),// [0]
                        (
                            track: "guitar",
                            slices: [
                                (
                                    begin: Mark("G"),
                                    end: Count(1),
                                    rounds: None,
                                ),// [0]
                                (
                                    begin: Mark("picks"),
                                    end: Mark("|"),
                                    rounds: None,
                                ),
                            ],
                        ),
                    ],
                ),// [2]
                (
                    layers: [
                        (
                            track: "chord",
                            slices: [
                                (
                                    begin: Mark("1"),
                                    end: Count(1),
                                    rounds: None,
                                ),
                            ],
                        ),// [0]
                        (
                            track: "guitar",
                            slices: [
                                (
                                    begin: Mark("G"),
                                    end: Count(1),
                                    rounds: None,
                                ),// [0]
                                (
                                    begin: Mark("picks"),
                                    end: Mark("|"),
                                    rounds: None,
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
    ],
    form: (
        sections: [
            "A",// [0]
            "A",
        ],
    ),
)